@charset "UTF-8";
/* ===========================================================================================
basic style reset
=========================================================================================== */
html {
  position: relative;
  height: 100vh;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: -.05em;
  font-weight: 400;
  font-family: 'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif;
  line-height: 1.25;
  color: #46464a;
}

dd, dl, dt, li, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
  font-size: 0;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

caption, legend {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input, select, textarea {
  color: #454545;
  font-size: 1.6rem;
}

input, select {
  vertical-align: middle;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

/*input:-ms-input-placeholder { color: #999;}*/
input::-webkit-input-placeholder {
  color: #999;
}

input[type=password],
input[type=text],
select {
  padding: .6rem 1.2rem;
  min-height: 3.7rem;
  font-size: 1.4rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

input[type=password]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
  border-color: #555;
}

input[disabled],
input[readonly] {
  background-color: #eee;
  color: #999;
  opacity: 1;
}

input[disabled] {
  cursor: not-allowed;
}

address, em, i {
  font-style: normal;
}

button {
  color: inherit;
  border: 0;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}

hr {
  margin: 0;
  border: none;
  padding: 0;
  display: block;
}

figcaption, figure, form {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

button, input, optgroup, pre, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

iframe {
  border: 0;
}

/* ===========================================================================================
skip navigation
=========================================================================================== */
#skipNav {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  z-index: 1000;
  text-align: center;
}

#skipNav a {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 14px;
}

#skipNav a:active, #skipNav a:focus, #skipNav a:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ===========================================================================================
user defined style
=========================================================================================== */
.mobile, .pad {
  display: block;
}

.txt-left, .txt_left {
  text-align: left !important;
}

.txt-right, .txt_right {
  text-align: right !important;
}

.txt-center, .txt_center {
  text-align: center !important;
}

.vertical {
  display: inline-block;
  vertical-align: middle;
}

.hidden, .sr_only, .sr-only, .IR {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ellipsis, .subject {
  text-align: left;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  max-width: 96%;
}

td.subject {
  padding-left: 2rem;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fl, .float-left, .float_left, .pull-left {
  float: left;
}

.float-right, .float_right, .fr, .pull-right {
  float: right;
}

.float-wrap {
  overflow: hidden;
}

.indent {
  margin-left: 2rem !important;
}

.indent2 {
  margin-left: 1rem !important;
}

.outdent {
  margin-left: -2rem;
}

.w5 {
  width: 5% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w6 {
  width: 6% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w7 {
  width: 7% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w8 {
  width: 8% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w9 {
  width: 9% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w10 {
  width: 10% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 10% !important;
          flex: 0 0 10% !important;
}

.w15 {
  width: 15% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 15% !important;
          flex: 0 0 15% !important;
}

.w20 {
  width: 20% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 20% !important;
          flex: 0 0 20% !important;
}

.w25 {
  width: 25% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 25% !important;
          flex: 0 0 25% !important;
}

.w30 {
  width: 30% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 30% !important;
          flex: 0 0 30% !important;
}

.w35 {
  width: 35% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 35% !important;
          flex: 0 0 35% !important;
}

.w40 {
  width: 40% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 40% !important;
          flex: 0 0 40% !important;
}

.w45 {
  width: 45% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 45% !important;
          flex: 0 0 45% !important;
}

.w50 {
  width: 50% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 50% !important;
          flex: 0 0 50% !important;
}

.w55 {
  width: 55% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 55% !important;
          flex: 0 0 55% !important;
}

.w60 {
  width: 60% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 60% !important;
          flex: 0 0 60% !important;
}

.w65 {
  width: 65% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 65% !important;
          flex: 0 0 65% !important;
}

.w70 {
  width: 70% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 70% !important;
          flex: 0 0 70% !important;
}

.w75 {
  width: 75% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 75% !important;
          flex: 0 0 75% !important;
}

.w80 {
  width: 80% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 80% !important;
          flex: 0 0 80% !important;
}

.w85 {
  width: 85% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 85% !important;
          flex: 0 0 85% !important;
}

.w90 {
  width: 90% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 90% !important;
          flex: 0 0 90% !important;
}

.w95 {
  width: 95% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 95% !important;
          flex: 0 0 95% !important;
}

.w100 {
  width: 100% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 0.5rem !important;
}

.ml10 {
  margin-left: 1rem !important;
}

.ml15 {
  margin-left: 1.5rem !important;
}

.ml20 {
  margin-left: 2rem !important;
}

.ml30 {
  margin-left: 3rem !important;
}

.ml40 {
  margin-left: 4rem !important;
}

.ml50 {
  margin-left: 5rem !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 0.5rem !important;
}

.mt10 {
  margin-top: 1rem !important;
}

.mt15 {
  margin-top: 1.5rem !important;
}

.mt20 {
  margin-top: 2rem !important;
}

.mt25 {
  margin-top: 2rem !important;
}

.mt30 {
  margin-top: 3rem !important;
}

.mt40 {
  margin-top: 4rem !important;
}

.mt50 {
  margin-top: 5rem !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 0.5rem !important;
}

.mr10 {
  margin-right: 1rem !important;
}

.mr20 {
  margin-right: 2rem !important;
}

.mr30 {
  margin-right: 3rem !important;
}

.mr40 {
  margin-right: 4rem !important;
}

.mr50 {
  margin-right: 5rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 0.5rem !important;
}

.mb10 {
  margin-bottom: 1rem !important;
}

.mb20 {
  margin-bottom: 2rem !important;
}

.mb30 {
  margin-bottom: 3rem !important;
}

.mb40 {
  margin-bottom: 4rem !important;
}

.mb50 {
  margin-bottom: 5rem !important;
}

.pd0 {
  padding: 0 !important;
}

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pl10 {
  padding-left: 1rem !important;
}

/* ===========================================================================================
slick slider
=========================================================================================== */
.slick-slider {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none;
}

/*.slick-slide.dragging img{pointer-events:none}*/
.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* ===========================================================================================
grid style
=========================================================================================== */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-1 > * {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  -webkit-box-flex: 0;
          flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/* ===========================================================================================
form-row : 여러개의 요소들이 꽉차면서 한줄인 형태
form-inline : 여러개의 요소를 꽉차지 않으면서 한줄인 형태
form-control : input
form-select : select
=========================================================================================== */
.form-label {
  font-weight: 500;
  word-break: keep-all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*padding-top: 1rem; padding-bottom:.5rem;*/
}

.form-control {
  display: inline-block;
  border: 1px solid #ccc;
  min-height: 3.6rem;
}

.form-select:focus,
.form-control:focus {
  border-color: #06377b;
  outline: 0;
  -webkit-box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15), 0 0 0.8rem rgba(102, 175, 233, 0.8);
          box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15), 0 0 0.8rem rgba(102, 175, 233, 0.8);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
  resize: vertical;
}

.form-term {
  margin: 0 1rem !important;
}

.form-select {
  position: relative;
  background-color: #fff;
}

.form-select {
  background: #fff url(../img/board/select_arrow.gif) right 0.75rem center no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 1;
  padding-right: 2rem;
}

.form-select::-ms-expand {
  display: none;
}

.form-inline,
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-inline ~ .form-row,
.form-row ~ .form-row {
  margin-top: 0.5rem;
}

.form-inline .form-select, .form-inline .form-control,
.form-row .form-select,
.form-row .form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  /*  ie11에서 오류남 */
}

.form-inline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 체크박스, 라디오버튼 */
.custom-input {
  position: relative;
}

.custom-input input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.custom-input input + label {
  display: inline-block;
  position: relative;
  padding-left: 2.4rem;
  margin-right: 2rem;
  cursor: pointer;
}

.custom-input input + label::before,
.custom-input input + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: .1rem;
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  cursor: pointer;
}

.custom-input input[type="radio"] + label::before {
  border-radius: 50%;
}

.custom-input input[type="radio"] + label::after {
  content: "";
  display: block;
  opacity: 0;
  width: .7rem;
  height: .7rem;
  background-color: #505050;
  border-radius: 50%;
  position: absolute;
  left: .5rem;
  top: .6rem;
  z-index: 2;
}

.custom-input input[type="checkbox"] + label::after,.custom-input input[type="checkbox"] + input[type="hidden"] + label::after {
  content: "\e929";
  text-align: center;
  background-color: #2A7ABF;
  border: 1px solid #2A7ABF;
  color: #fff;
  font-size: 1.5rem;
  font-family: "xeicon";
  z-index: 2;
  opacity: 0;
  line-height: 1;
}

.custom-input input[disabled] + label::before {
  background-color: #e5e5e5;
  border-color: #ddd;
}

.custom-input input:focus + label::before {
  border: 2px solid #2A7ABF;
}

.custom-input input:checked + label::after,.custom-input input:checked + input[type="hidden"] + label::after {
  opacity: 1;
  border-color: #505050;
}

.form-floating {
  position: relative;
  display: block;
}

.form-floating .form-control {
  width: 100%;
}

.form-floating label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  font-size: 1.4rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #fff;
  padding: .6rem 1rem;
}

.form-floating .form-control:focus ~ label {
  opacity: 0;
  visibility: hidden;
}

.form-floating .form-control:not(:placeholder-shown) ~ label {
  display: none;
}

/* ===========================================================================================
print style
=========================================================================================== */
@page {
  size: A4 landscape;
}

/*  css validator에 걸려서 주석처리 */
@media print {
  #header, aside, #spot, #side, .cont-bot, #footer, .snb, .test_wrap, .slave_tab,
  .header, .breadcrumbs_bar, .snb, .footer, .go_top {
    display: none !important;
  }
  .container,
  .content {
    width: 100% !important;
  }
  .content > .tab_cont {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .fixed {
    position: relative !important;
  }
  /* flex오류 */
  .board_info .form-row {
    display: block;
  }
  .board_info .form-row .form-select {
    width: auto !important;
  }
}

/* ===========================================================================================
backDrop style
=========================================================================================== */
.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 1);
  z-index: 99;
  text-align: center;
}
.backdrop > img {
  position: absolute;
  top: 50%;
  left: calc(50% - 26px);
  z-index: 100;
}
.backdrop > p {
  position: absolute;
  top: 57.5%;
  left: calc(50% - 8rem);
  z-index: 101;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;
  width: 16rem;
  word-wrap: break-word;
}